<!DOCTYPE html>

<html lang="ru">

<head>
  <link rel="stylesheet" href="/static/styles/fac0.css" />
  <script src="lib/script.js"></script>
  <title>Список факультативов</title>
</head>

<body class="backg">
  <header>
    <div class="top">
      <h2 class="greeting">Список факультативов</h2>
    </div>
    <div class="lycAvatar"></div>
    <a href="/">
      <div class="inf"></div>
    </a>
    <a href="/facultatives/">
      <div class="fac"></div>
    </a>
    <a href="/calendar/">
      <div class="cal"></div>
    </a>
    <a href="/calculator/">
      <div class="clc"></div>
    </a>
  </header>
  <main>

    <div class="main">
      <div class="cont">
        <table>
          <tr>
            <th class="fc">Факультатив</th>
            <th class="tk">Время, кабинет</th>
            <th class="pr">Преподаватель</th>
          </tr>
          {% for facultative in facultatives %}
          <tr>
            {% if facultative.department == "Психология"%}
            <td>{{facultative.name}}</td>
            <td>{{facultative.info}}</td>
            <td>{{facultative.teacher}}</td>
            {% endif %}
          </tr>
          {% endfor%}
        </table>

        <div class="list">
          <nav class="nav">
            <ul class="nav_list">
              <li class="item1"><a class="a">Выберите кафедру</a></li>
              <a class="a" href="vostok">
                <li class="nav_item">Востоковедение</li>
              </a>
              <a class="a" href="natscience">
                <li class="nav_item">Естественные науки</li>
              </a>
              <a class="a" href="foreign">
                <li class="nav_item">Иностранные языки</li>
              </a>
              <a class="a" href="computers">
                <li class="nav_item">Информатика</li>
              </a>
              <a class="a" href="research">
                <li class="nav_item">Исследования и проекты</li>
              </a>
              <a class="a" href="history">
                <li class="nav_item">История</li>
              </a>
              <a class="a" href="culthist">
                <li class="nav_item">История культуры</li>
              </a>
              <a class="a" href="math">
                <li class="nav_item">Математика</li>
              </a>
              <a class="a" href="mhk">
                <li class="nav_item">МХК</li>
              </a>
              <a class="a" href="social">
                <li class="nav_item2">Общественные науки</li>
              </a>
              <a class="a" href="psychology">
                <li class="nav_item3">Психология</li>
              </a>
              <a class="a" href="words">
                <li class="nav_item">Словесность</li>
              </a>
              <a class="a" href="tok">
                <li class="nav_item">ТОК</li>
              </a>
              <a class="a" href="physed">
                <li class="nav_item2">Физическая культура</li>
              </a>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </main>
  <footer></footer>
</body>

</html>