{% extends 'base.html' %}
{% block content %}
    <div class="main">
        <div class="cont">
            <table>
                <tr>
                    <th class="fc">Факультатив</th>
                    <th class="tk">Время, кабинет</th>
                    <th class="pr">Преподаватель</th>
                </tr>
                {% for facultative in facultatives %}
                    <tr>
                        <td>{{ facultative.name }}</td>
                        <td>{{ facultative.info }}</td>
                        <td>{{ facultative.teacher }}</td>
                    </tr>
                {% endfor %}
            </table>

            <div class="list">
                <nav class="nav">
                    <ul class="nav_list">
                        <li class="item1">Выберите кафедру</li>
                        {% for key, value in list_facs %}
                            <li class="nav_item">
                                <a href="{{ key }}" class="">{{ value }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    </main>
{% endblock %}