<!DOCTYPE html>

<html lang="ru">

<head>
  <link rel="stylesheet" href="static/styles/style.css" />
  <script src="lib/script.js"></script>
  <title>Футуритет</title>
</head>

<body class="backg">
  <header>
    <div class="top">
      <h2 class="greeting">Добро пожаловать!</h2>
    </div>
    <div class="lycAvatar"></div>
    <div class="inf"></div>
    <div class="fac"></div>
    <div class="cal"></div>
    <div class="clc"></div>
  </header>
  <main>
    <div class="main">
      <div class="cont">
        <div class="logot"></div>
        <div class="texlog">
          <div class="logot2"></div>
          <div class="tex">
            <section>
              <h1 class="allign">Футуритет</h1>
              <article>
                <p>
                  Привет, девятиклассники!
                </p>
              </article>
              <article>
                <p>
                  Будущее и время – вот чем вы управляете, поэтому направление и назвали «Футуритеt».
                  Сейчас вы находитесь на отправной точке, впереди десять дорог, десять вариантов обучения. Вам
                  предстоит нелегкий выбор, и мы хотим помочь.
                </p>
              </article>
              <article>
                Искренне ваш, первый выпуск Футуритета
              </article>
              <article>
                <p>

                </p>
              </article>
              <article>
                <p>
                  руководитель направления: Подкопаев Денис Сергеевич
                </p>
              </article>
            </section>
          </div>
        </div>
        <div class="list">
          <nav class="nav">
            <ul class="nav_list">
              <li class="item1"><a class="a" href="#">Выберите направление</a></li>
              <li class="nav_item"><a class="a" href="vostok">Востоковедение</a></li>
              <li class="nav_item"><a class="a" href="gum">Гуманитарные науки</a></li>
              <li class="nav_item"><a class="a" href="design">Дизайн</a></li>
              <li class="nav_item"><a class="a" href="natscience">Естественные науки</a></li>
              <li class="nav_item"><a class="a" href="math">Математика</a></li>
              <li class="nav_item"><a class="a" href="infomath">Информатика и математика</a></li>
              <li class="nav_item"><a class="a" href="psychology">Психология</a></li>
              <li class="nav_item"><a class="a" href="matheconom">Экономика и математика</a></li>
              <li class="nav_item"><a class="a" href="soceconom">Экономика и социальные науки</a></li>
              <li class="nav_item2"><a class="a" href="yurispr">Юриспруденция<a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </main>
  <footer></footer>
</body>

</html>