<!DOCTYPE html>

<html lang="ru">

<head>
  <link rel="stylesheet" href="static/styles/info6.css" />
  <script src="lib/script.js"></script>
  <title>Информатика и математика</title>
</head>

<body class="backg">
  <header>
    <div class="top">
      <h2 class="greeting">Информация</h2>
    </div>
    <div class="lycAvatar"></div>
    <a href="/">
      <div class="inf"></div>
    </a>
    <a href="/facultatives/">
      <div class="fac"></div>
    </a>
    <a href="/calendar/">
      <div class="cal"></div>
    </a>
    <a href="/calculator/">
      <div class="clc"></div>
    </a>
  </header>
  <main>
    <div class="main">
      <div class="cont">
        <div class="logot"></div>
        <div class="texlog">
          <div class="logot2"></div>
          <div class="tex">
            <section>
              <h1 class="allign">Информатика, инженерия и математика</h1>
              <article>
                <p>
                  Питон. Ты ведь точно подумал о языке программирования, а не о большой змее, которая
                  обитает в тропических лесах. Твой ответ верен, потому что это направление
                  «Информатика, инженерия и математика»!

                </p>
              </article>
              <article>
                <p>
                  Аналитика, программно-аппаратные комплексы для систем 3D-моделирования и визуализации, защиты
                  компьютерной̆ информации, ракетно-космических систем и робототехники – это возможные направления, в
                  которых ты сможешь применить знания после обучения на нашем направлении.

                </p>
              </article>
              <article>
                <p>
                  Ноутбук и зарядка – вот все, что нужно типичному лицеисту с матинфо. Это незаменимые люди, которые
                  всегда объяснят как решать информатику, подскажут, почему тормозит компьютер и расскажут о множестве
                  программ, о которых ты даже не подозревал.
                </p>
              </article>
              <article>
                <p>
                  Направление математика, инженерия и математика подойдет для всех ребят, кто хочет
                  общаться с компьютером на “ты”!
                </p>
              </article>
              <article>
                <p>
                  <h3>Немного про учебный план:</h3>
                  Информатика, физика и математика – это три предмета, уровень изучения которых ты можешь выбрать
                  (базовый и углубленный). В вариативной части находятся такие предметы, как обществознание, практикум
                  по программированию, практикум по физике, инженерия и компьютерная лингвистика. Факультетский день
                  ориентирован на 6 образовательных программ, среди которых есть возможность посещения факультетов
                  гуманитарного направления.

                </p>
              </article>
              <article>
                <p>
                  <h3>Несколько советов от десятых:</h3>
                  <p>- Советую тратить больше времени на самостоятельное изучение интересующих тем по программированию
                  </p>
                  <p>- Побольше занимайтесь математикой и начни изучать программирование!</p>
                  <p>- Учите раздел теоретической грамматики, если вы выбираете изучение этого предмета на углубленном
                    уровне.</p>
                  <p>- Заранее изучите с++ или питон</p>

                </p>
              </article>
              <article>
                <p>
                  <h3>Матинфо – это…</h3>
                  <p>- это решение уравнений в целых числах необычным способом</p>
                  <p>- это шутки про программирование</p>
                  <p>- это море программмирования</p>
                  <p>- это очень сильная математика</p>
                  <p>- это направление, которое занимает очень много времени</p>

                </p>
              </article>
              <article>
                <h4>руководитель направления: Быков Юрий Викторович</h4>
              </article>
            </section>
          </div>
        </div>
        <div class="list">
          <nav class="nav">
            <ul class="nav_list">
              <li class="item1">Выберите направление</li>
              <a class="a" href="vostok">
                <li class="nav_item">Востоковедение</li>
              </a>
              <a class="a" href="gum">
                <li class="nav_item">Гуманитарные науки</li>
              </a>
              <a class="a" href="design">
                <li class="nav_item">Дизайн</li>
              </a>
              <a class="a" href="natscience">
                <li class="nav_item">Естественные науки</li>
              </a>
              <a class="a" href="math">
                <li class="nav_item"> Математика</li>
              </a>
              <a class="a" href="infomath">
                <li class="nav_item3">Информатика и математика</li>
              </a>
              <a class="a" href="psychology">
                <li class="nav_item">Психология</li>
              </a>
              <a class="a" href="matheconom">
                <li class="nav_item">Экономика и математика</li>
              </a>
              <a class="a" href="soceconom">
                <li class="nav_item">Экономика и социальные науки</li>
              </a>
              <a class="a" href="yurispr">
                <li class="nav_item2">Юриспруденция</li>
              </a>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </main>
  <footer></footer>
</body>

</html>