<!DOCTYPE html>

<html lang="ru">

<head>
  <link rel="stylesheet" href="static/styles/info7.css" />
  <script src="lib/script.js"></script>
  <title>Психология</title>
</head>

<body class="backg">
  <header>
    <div class="top">
      <h2 class="greeting">Информация</h2>
    </div>
    <div class="lycAvatar"></div>
    <div class="inf"></div>
    <div class="fac"></div>
    <div class="cal"></div>
    <div class="clc"></div>
  </header>
  <main>
    <div class="main">
      <div class="cont">
        <div class="logot"></div>
        <div class="texlog">
          <div class="logot2"></div>
          <div class="tex">
            <section>
              <h1 class="allign">Психология</h1>
              <article>
                <p>
                  Если человек скрестил руки на грузди, значит, он пытается отстраниться от собеседников. Так ли это на
                  само деле ты узнаешь на направлении «Психология».
                </p>
                <p>
                  Современные психологи разбираются не только в биологии, но и в математике, поэтому именно эти предметы
                  составляют основу курса. Ребята будут слушать лекции, которые будут вести преподаватели департамента
                  психологии — специалисты в области социальной, общей и когнитивной психологии, а также психофизиологии
                  и нейронаук. А также лицеисты смогут поработать с новейшим оборудованием и поучаствуют в различных
                  тренингах и мастер-классах.
                </p>
                <p>
                  Неплохо иметь друга психолога (во всех смыслах этого слова). Но еще лучше, когда ты психолог сам.
                  Присоединяйся к нам!
                </p>
                <h3>Немного про учебный план:</h3>
                <p>
                  В обязательной части ты можешь выбрать базовое или углубленное изучение математики и биологии, также в
                  обязательную часть входит предмет психология. В вариативной части находятся три предмета:
                  обществознание, социология и философия. Факультетский день ориентирован на образовательную программу
                  «Психология».
                </p>
                <h3>Несколько советов от деcятых:</h3>
                <p>
                  <p>- Прочитайте учебник Кемпбелла по биологии (он сделает этот предмет суперинтересным)</p>
                  <p>- Повторите материал 9 класса по биологии это ооочень поможет! в 10 та же программа, только более
                    углублённая
                  </p>
                  <p>- Поучаствуйте занятиях какой-нибудь выездной или невыездной школы</p>
                  <p>- Почитайте Фрейда, Выготского, Лурию, Платона, Аристотеля</p>
                  <p>- Если вы не сильны в математике, позанимайтесь летом стереометрией и тригонометрией</p>
                  <p>- Поучаствуйте в олимпиадах (хотя бы просто попробовать): ВП, ВОШ, МОШ, Ломоносовская олимпиада,
                    Воробьёвы горы, Ступени
                  </p>
                  <h3>Психология - это...</h3>
                  <p>
                    ... это микроанализы по Свинке Пеппе
                    ... это микроскопы
                    ... это всё по Фрейду
                  </p>
                  <h4>руководитель направления: Жеймо Анна Юрьевна</h4>
                </p>

              </article>
            </section>
          </div>
        </div>
        <div class="list">
          <nav class="nav">
            <ul class="nav_list">
              <li class="item1"><a class="a" href="#">Выберите направление</a></li>
              <li class="nav_item"><a class="a" href="vostok">Востоковедение</a></li>
              <li class="nav_item"><a class="a" href="gum">Гуманитарные науки</a></li>
              <li class="nav_item"><a class="a" href="design">Дизайн</a></li>
              <li class="nav_item"><a class="a" href="natscience">Естественные науки</a></li>
              <li class="nav_item"><a class="a" href="math">Математика</a></li>
              <li class="nav_item"><a class="a" href="infomath">Информатика и математика</a></li>
              <li class="nav_item3"><a class="a" href="psychology">Психология</a></li>
              <li class="nav_item"><a class="a" href="matheconom">Экономика и математика</a></li>
              <li class="nav_item"><a class="a" href="soceconom">Экономика и социальные науки</a></li>
              <li class="nav_item2"><a class="a" href="yurispr">Юриспруденция<a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </main>
  <footer></footer>
</body>

</html>