<!DOCTYPE html>

<html lang="ru">

<head>
  <link rel="stylesheet" href="static/styles/info7.css" />
  <script src="lib/script.js"></script>
  <title>Психология</title>
</head>

<body class="backg">
  <header>
    <div class="top">
      <h2 class="greeting">Информация</h2>
    </div>
    <div class="lycAvatar"></div>
    <a href="/">
      <div class="inf"></div>
    </a>
    <a href="/facultatives/">
      <div class="fac"></div>
    </a>
    <a href="/calendar/">
      <div class="cal"></div>
    </a>
    <a href="/calculator/">
      <div class="clc"></div>
    </a>
  </header>
  <main>
    <div class="main">
      <div class="cont">
        <div class="logot"></div>
        <div class="texlog">
          <div class="logot2"></div>
          <div class="tex">
            <section>
              <h1 class="allign">Психология</h1>
              <article>
                <p>
                  Если человек скрестил руки на грузди, значит, он пытается отстраниться от собеседников. Так ли это на
                  самом деле ты узнаешь на направлении «Психология».
                </p>
                <p>
                  Современные психологи разбираются не только в биологии, но и в математике, поэтому именно эти предметы
                  составляют основу курса. Ребята будут слушать лекции, которые будут вести преподаватели департамента
                  психологии — специалисты в области социальной, общей и когнитивной психологии, а также психофизиологии
                  и нейронаук. А также лицеисты смогут поработать с новейшим оборудованием и поучаствуют в различных
                  тренингах и мастер-классах.
                </p>
                <p>
                  Неплохо иметь друга психолога (во всех смыслах этого слова). Но еще лучше, когда ты психолог сам.
                  Присоединяйся к нам!
                </p>
                <h3>Немного про учебный план:</h3>
                <p>
                  В обязательной части ты можешь выбрать базовое или углубленное изучение математики и биологии, также в
                  обязательную часть входит предмет психология. В вариативной части находятся три предмета:
                  обществознание, социология и философия. Факультетский день ориентирован на образовательную программу
                  «Психология».
                </p>
                <h3>Несколько советов от деcятых:</h3>
                <p>
                  <p>- Прочитайте учебник Кемпбелла по биологии (он сделает этот предмет суперинтересным)</p>
                  <p>- Повторите материал 9 класса по биологии это ооочень поможет! в 10 та же программа, только более
                    углублённая
                  </p>
                  <p>- Поучаствуйте в занятиях какой-нибудь выездной или невыездной школы</p>
                  <p>- Почитайте Фрейда, Выготского, Лурию, Платона и Аристотеля</p>
                  <p>- Если вы не сильны в математике - позанимайтесь летом стереометрией и тригонометрией</p>
                  <p>- Поучаствуйте в олимпиадах (хотя бы просто попробовать): ВП*, ВОШ**, МОШ***, Ломоносовская олимпиада,
                    Воробьёвы горы, Ступени
                  </p>
                  <h3>Психология - это...</h3>
                  <p>
                    <p>... это микроанализы по Свинке Пеппе</p>
                    <p>... это микроскопы</p>
                    <p>... это всё по Фрейду</p>
                  </p>
                  <h4>руководитель направления: Жеймо Анна Юрьевна</h4>
                  <p>* - Высшая проба</p>
                  <p>** - Всероссийская олимпиада школьников</p>
                  <p>*** - Московская олимпиада школьников</p>
                </p>

              </article>
            </section>
          </div>
        </div>
        <div class="list">
          <nav class="nav">
            <ul class="nav_list">
              <li class="item1">Выберите направление</li>
              <a class="a" href="vostok">
                <li class="nav_item">Востоковедение</li>
              </a>
              <a class="a" href="gum">
                <li class="nav_item">Гуманитарные науки</li>
              </a>
              <a class="a" href="design">
                <li class="nav_item">Дизайн</li>
              </a>
              <a class="a" href="natscience">
                <li class="nav_item">Естественные науки</li>
              </a>
              <a class="a" href="math">
                <li class="nav_item"> Математика</li>
              </a>
              <a class="a" href="infomath">
                <li class="nav_item">Информатика и математика</li>
              </a>
              <a class="a" href="psychology">
                <li class="nav_item3">Психология</li>
              </a>
              <a class="a" href="matheconom">
                <li class="nav_item">Экономика и математика</li>
              </a>
              <a class="a" href="soceconom">
                <li class="nav_item">Экономика и социальные науки</li>
              </a>
              <a class="a" href="yurispr">
                <li class="nav_item2">Юриспруденция</li>
              </a>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </main>
  <footer></footer>
</body>

</html>