<!DOCTYPE html>

<html lang="ru">

<head>
  <link rel="stylesheet" href="static/styles/info8.css" />
  <script src="lib/script.js"></script>
  <title>Экономика и математика</title>
</head>

<body class="backg">
  <header>
    <div class="top">
      <h2 class="greeting">Информация</h2>
    </div>
    <div class="lycAvatar"></div>
    <a href="/">
      <div class="inf"></div>
    </a>
    <a href="/facultatives/">
      <div class="fac"></div>
    </a>
    <a href="/calendar/">
      <div class="cal"></div>
    </a>
    <a href="/calculator/">
      <div class="clc"></div>
    </a>
  </header>
  <main>
    <div class="main">
      <div class="cont">
        <div class="logot"></div>
        <div class="texlog">
          <div class="logot2"></div>
          <div class="tex">
            <section>
              <h1 class="allign">Экономика и математика</h1>
              <article>
                <p>
                  Отличить эндогенную переменную от экзогенной? Запросто, ведь ты оказался на направлении «Экономика и
                  математика».
                </p>
                <p>
                  Здесь каждый лицеист составляет своё гибкое расписание. Этому способствует вариативный учебный план,
                  многочисленные факультативы и выездные школы.
                </p>
                <p>
                  Много математики и экономики (очень много), даже история здесь с экономическим
                  уклоном. Да, да, неспроста направление названо “экономика и математика”. Здесь ты найдешь
                  ребят, которые влюблены в эти предметы, более того, ты тоже их полюбишь!
                </p>
                <p>
                  В образовательном процессе учебного направления участвуют преподаватели разных программ Вышки,
                  например, «Экономика», «Экономика и статистика», «Логистика и управление цепями поставок»,
                  «Бизнес-информатика», «Управление бизнесом», «Маркетинг и рыночная аналитика».
                </p>
                <p>
                  Нашел что-то для себя? Тогда мы ждем тебя на нашем направлении!
                </p>
                <h3>Немного про учебный план:</h3>
                <p> 
                  Ты можешь выбрать изучение экономики и математики на базовом или углубленном уровне. На нашем
                  направлении есть предмет история экономики и экономической мысли, обществознание мы изучаем на
                  углубленном уровне. В вариативной части находятся три предмета: физика, химия и биология, а также
                  основы бизнеса, психология, информатика и география. Факультетский день ориентирован на 5
                  образовательных программ.
                </p>
                <h3>Несколько советов от десятых:</h3>
                <p>
                  <p>- Выучите формулу дискриминанта</p>
                  <p>- Советую съездить в ЛЭШ* или ВЭШ**</p>
                  <p>- Советую учить все теоремы по геометрии, а также подумать про ИВР***</p>
                  <p>- Купите курс экономического Олимпа базового уровня</p>
                  <p>- Начните ботать экономику уже сейчас</p>
                </p>
                <h3>Матэк - это...</h3>
                <p>- это тяжело, но приятно</p>
                <p>- это лучшие люди, лучшее здание</p>
                <p>- это хорошее настроение</p>
                <p>- это куча дедлайнов и мало сна;) но оно того стоит!!!!!!</p>
                <p>- это интересно</p>
                <h4>руководитель направления: Челеховский Александр Николаевич</h4>
                <p>* - Летняя экономическая школа</p>
                <p>** - Выездная экономическая школа</p>
                <p>*** - Индивидуальная выпускная работа</p>
              </article>
            </section>
          </div>
        </div>
        <div class="list">
          <nav class="nav">
            <ul class="nav_list">
              <li class="item1">Выберите направление</li>
              <a class="a" href="vostok">
                <li class="nav_item">Востоковедение</li>
              </a>
              <a class="a" href="gum">
                <li class="nav_item">Гуманитарные науки</li>
              </a>
              <a class="a" href="design">
                <li class="nav_item">Дизайн</li>
              </a>
              <a class="a" href="natscience">
                <li class="nav_item">Естественные науки</li>
              </a>
              <a class="a" href="math">
                <li class="nav_item"> Математика</li>
              </a>
              <a class="a" href="infomath">
                <li class="nav_item">Информатика и математика</li>
              </a>
              <a class="a" href="psychology">
                <li class="nav_item">Психология</li>
              </a>
              <a class="a" href="matheconom">
                <li class="nav_item3">Экономика и математика</li>
              </a>
              <a class="a" href="soceconom">
                <li class="nav_item">Экономика и социальные науки</li>
              </a>
              <a class="a" href="yurispr">
                <li class="nav_item2">Юриспруденция</li>
              </a>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </main>
  <footer></footer>
</body>

</html>