<!DOCTYPE html>

<html lang="ru">

<head>
  <link rel="stylesheet" href="static/styles/info4.css" />
  <script src="lib/script.js"></script>
  <title>Естественные науки</title>
</head>

<body class="backg">
  <header>
    <div class="top">
      <h2 class="greeting">Информация</h2>
    </div>
    <div class="lycAvatar"></div>
    <a href="/">
      <div class="inf"></div>
    </a>
    <a href="/facultatives/">
      <div class="fac"></div>
    </a>
    <a href="/calendar/">
      <div class="cal"></div>
    </a>
    <a href="/calculator/">
      <div class="clc"></div>
    </a>
  </header>
  <main>
    <div class="main">
      <div class="cont">
        <div class="logot"></div>
        <div class="texlog">
          <div class="logot2"></div>
          <div class="tex">
            <section>
              <h1 class="allign">Естественные науки</h1>
              <article>
                <p>
                  Если ты знаешь, какое вещество выпадает в осадок, если смешать растворы нитрата кальция и серной
                  кислоты или можешь с легкостью объяснить закон всемирного тяготения, то ты выбрал правильное
                  направление.
                </p>
                <p> Мы бы с радостью написали про ребят с ЕН, про отличительные черты, про традиции, но появилось
                  направление «Естественные науки» совсем недавно. Поэтому именно ты можешь писать страницы его истории.
                </p>
                <h3>Немного про учебный план:</h3>
                <p>На выбор дается углубленное и базовое изучение математики, а также физики и биологии. Химия на нашем
                  направлении изучается на профильном уровне. Из вариативной части можно выбрать не менее одного из трех
                  предметов: информатика, география и экология. Также есть два направления факультетского дня:
                  ориентированные на образовательные программы «Клеточная и молекулярная биотехнология» и «Химия».
                </p>
                <h3>Несколько советов от десятых:</h3>
                <p>
                  <p>- Главное – ботать биологию и химию</p>
                  <p>- Не забывайте про математику</p>
                  <p>- Учите органику</p>
                  <p>- Советую не забывать за лето материал 8-9 класса</p>
                </p>
                <h3>Естественные науки - это...</h3>
                <p>
                  <p>... это очень прикольно</p>
                  <p>... это Моручков</p>
                  <p>... это много опытов</p>
                  <p>... это когда другие направления считают тебя ученым</p>
                </p>
                <h4>руководитель направления: Алексеев Владимир Владимирович</h4>
              </article>
            </section>
          </div>
        </div>
        <div class="list">
          <nav class="nav">
            <ul class="nav_list">
              <li class="item1">Выберите направление</li>
              <a class="a" href="vostok">
                <li class="nav_item">Востоковедение</li>
              </a>
              <a class="a" href="gum">
                <li class="nav_item">Гуманитарные науки</li>
              </a>
              <a class="a" href="design">
                <li class="nav_item">Дизайн</li>
              </a>
              <a class="a" href="natscience">
                <li class="nav_item">Естественные науки</li>
              </a>
              <a class="a" href="math">
                <li class="nav_item"> Математика</li>
              </a>
              <a class="a" href="infomath">
                <li class="nav_item">Информатика и математика</li>
              </a>
              <a class="a" href="psychology">
                <li class="nav_item">Психология</li>
              </a>
              <a class="a" href="matheconom">
                <li class="nav_item">Экономика и математика</li>
              </a>
              <a class="a" href="soceconom">
                <li class="nav_item">Экономика и социальные науки</li>
              </a>
              <a class="a" href="yurispr">
                <li class="nav_item2">Юриспруденция</li>
              </a>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </main>
  <footer></footer>
</body>

</html>