<!DOCTYPE html>

<html lang="ru">

<head>
  <link rel="stylesheet" href="static/styles/info1.css" />
  <script src="lib/script.js"></script>
  <title>Востоковедение</title>
</head>

<body class="backg">
  <header>
    <div class="top">
      <h2 class="greeting">Информация</h2>
    </div>
    <div class="lycAvatar"></div>
    <div class="inf"></div>
    <div class="fac"></div>
    <div class="cal"></div>
    <div class="clc"></div>
  </header>
  <main>
    <div class="main">
      <div class="cont">
        <div class="logot"></div>
        <div class="texlog">
          <div class="logot2"></div>
          <div class="tex">
            <section>
              <h1 class="allign">Востоковедение</h1>
              <article>
                <p>

                  Интересуешься восточными языками? Хочешь узнать больше о культуре, истории, религии и основах
                  общественно-политического строя стран Востока? Тогда ты точно правильно выбрал направление!
                </p>
                <p>
                  “Востоки” – так называют ребят, которые учатся на этом направлении. Они будущие методисты, журналисты,
                  переводчики, преподаватели и, пожалуй, просто самые загадочные ребята.
                </p>
              </article>
              <article>
                <p>
                  При выборе нашего направления ты получишь знания в области истории, культуры, литературы родной
                  страны, а также будешь ориентироваться в экономических и политических тенденциях развития восточного
                  региона, в истории развития отношений России с восточными странами.
                </p>
              </article>
              <article>
                <p>
                  Направление востоковедение поможет тебе разобраться в том, что такое востоковедение и какие профессии
                  бывают в этой сфере. Даже если твой интерес к восточным языкам начался только недавно, не переживай,
                  ты можешь выбрать для изучения с нуля один четырех: китайский, корейский, японский̆ или арабский.
                  Участвуй в олимпиадах по истории и востоковедению. Приходи на мероприятия, которые устраивает наше
                  направление, а главное запоминай девиз, который звучит следующим образом: «师傅领进门, 修 行在自身», и
                  переводится как «Учитель только подводит к двери, ученик сам проходит через неё».
                </p>
              </article>
              <article>
                <h3>
                  Немного про учебный план:
                </h3>
                <p>
                  В обязательную часть предметов на направлении востоковедение входит второй иностранный язык
                  (обязательно восточный), а еще профильная история по 6 часов в неделю и в 10 и в 11 классе.
                  В вариативной части находятся физика, химия и биология (можно выбрать только один!), а еще география и
                  обществознание.
                  Из дополнительных предметов: история и культура востока, общественно-политическое развитие востока и
                  визуальное искусство востока (обязательно нужно выбрать один предмет).
                  При выборе факультетского дня у тебя будет два варианта:
                  <p>- ФД, ориентированный на образовательную программу «Востоковедение», здесь отдельное внимание
                    уделяется устному практикуму по общению на восточных языках.</p>
                  <p>- ФД, ориентированный на образовательные программы «Язык и литература арабских стран», «Языки и
                    литература Индии», «Язык и литература Китая», здесь уклон идет на письменные традиции.</p>

                </p>
              </article>
              <article>
                <h3>
                  Несколько советов от девятых:
                </h3>
                <p>
                  - Советую хорошо учить историю и посмотреть фильмы или почитать что-нибудь интересное о востоке
                </p>
                <p>
                  - Подумай над тем, как лучше распланировать своё время (ознакомься с различными техниками
                  тайм-менеджмента)
                </p>
                <p>
                  - Просто отдохни, выспись
                </p>
                <p>
                  - Отдохнуть! Прочесть основную литературу, чтобы потом забить на это все, если на восток, то лучше
                  определиться примерно с языком и выучить хотя бы азы-будет намного легче. Познакомиться и может быть
                  прогуляться с будущими одноклассниками
                </p>
              </article>
              <article>
                <p>

                </p>
              </article>
              <article>
                <h3>Востоковедение - это...</h3>
                <p>
                  ... это атмосфера тепла и любви
                </p>
                <p>
                  ... это уют и ламповость
                </p>
                <p>
                  ... это самый тёплый коллектив
                </p>
                <p>
                  ... это когда ты начинаешь предложение на русском и заканчиваешь на арабском
                </p>
                <h4>
                  руководитель направления: Пересадько Татьяна Владимировна
                </h4>
              </article>
            </section>
          </div>
        </div>
        <div class="list">
          <nav class="nav">
            <ul class="nav_list">
              <li class="item1"><a class="a" href="#">Выберите направление</a></li>
              <li class="nav_item3"><a class="a" href="vostok">Востоковедение</a></li>
              <li class="nav_item"><a class="a" href="gum">Гуманитарные науки</a></li>
              <li class="nav_item"><a class="a" href="design">Дизайн</a></li>
              <li class="nav_item"><a class="a" href="natscience">Естественные науки</a></li>
              <li class="nav_item"><a class="a" href="math">Математика</a></li>
              <li class="nav_item"><a class="a" href="infomath">Информатика и математика</a></li>
              <li class="nav_item"><a class="a" href="psychology">Психология</a></li>
              <li class="nav_item"><a class="a" href="matheconom">Экономика и математика</a></li>
              <li class="nav_item"><a class="a" href="soceconom">Экономика и социальные науки</a></li>
              <li class="nav_item2"><a class="a" href="yurispr">Юриспруденция<a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </main>
  <footer></footer>
</body>

</html>