<!DOCTYPE html>

<html lang="ru">

<head>
  <link rel="stylesheet" href="static/styles/info10.css" />
  <script src="lib/script.js"></script>
  <title>Юриспруденция</title>
</head>

<body class="backg">
  <header>
    <div class="top">
      <h2 class="greeting">Информация</h2>
    </div>
    <div class="lycAvatar"></div>
    <a href="/">
      <div class="inf"></div>
    </a>
    <a href="/facultatives/">
      <div class="fac"></div>
    </a>
    <a href="/calendar/">
      <div class="cal"></div>
    </a>
    <a href="/calculator/">
      <div class="clc"></div>
    </a>
  </header>
  <main>
    <div class="main">
      <div class="cont">
        <div class="logot"></div>
        <div class="texlog">
          <div class="logot2"></div>
          <div class="tex">
            <section>
              <h1 class="allign">Юриспруденция</h1>
              <article>
                <p>
                  Если ты готов помогать Фемиде, держать ее весы, то добро пожаловать на направление «Юриспруденция».
                </p>
                <p>
                  В процессе обучения лицеисты выполняют письменные творческие задания, кейсы, участвуют в научных
                  семинарах и заседаниях, деловых играх и игровых судебных процессах, а также имеют возможность
                  знакомиться и изучать конкретные судебные и иные дела.
                </p>
                <p>
                  Наверное каждый когда либо смотрел сериал про грабителя и следователя. Загадки, улики, экспертизы —
                  все это так захватывало дух. После окончания нашего направление героем такого сериала можешь стать и
                  ты, поэтому учись на отлично!
                </p>
                <p>
                  Здесь ты точно не заскучаешь!
                </p>
                <h3>Немного про учебный план:</h3>
                <p>Право, история, обществознание и иностранный язык на углубленном уровне – так открывается список
                  предметов нашего направления. Физика, химия и биология, один предмет на выбор как и у всех)) В
                  вариативной части находится практикум по праву, введение в математическую логику, цифровое право,
                  основы бизнеса и практическая психология.
                </p>
                <h3>Несколько советов от десятых:</h3>
                <p>- Прочитайте "Войну и мир" и "Мастера и маргариту" летом</p>
                <p>- Много читайте профильной правовой и философской литературы</p>
                <p>- Не парьтесь по пустякам и главное расставляйте приоритеты</p>
                <p>- Советую прочитать и понять Конституцию</p>
                <p>- Сдавайте работы вовремя и ничего не откладывайте «на завтра»</p>
                <p>- Отдохните на полную катушку</p>
                <p>- Советую спать, спать и еще раз спать</p>
                <p>- Советую ознакомиться с кодексами и быть готовыми много читать</p>
                <h3>Юр - это...</h3>
                <p>... сложная матеша и легкое право</p>
                <p>... эшутки о российском законодательстве</p>
                <p>... мега талантливые, умные и смешные люди</p>
                <p>... семья, в которой постоянно спорят</p>
                <p>... это сборище «политиков»</p>
                <p>... это серьезные люди с кодексами)</p>
                <h4>руководитель направления: Орловский Алексей Яковлевич</h4>
              </article>
            </section>
          </div>
        </div>
        <div class="list">
          <nav class="nav">
            <ul class="nav_list">
              <li class="item1">Выберите направление</li>
              <a class="a" href="vostok">
                <li class="nav_item">Востоковедение</li>
              </a>
              <a class="a" href="gum">
                <li class="nav_item">Гуманитарные науки</li>
              </a>
              <a class="a" href="design">
                <li class="nav_item">Дизайн</li>
              </a>
              <a class="a" href="natscience">
                <li class="nav_item">Естественные науки</li>
              </a>
              <a class="a" href="math">
                <li class="nav_item"> Математика</li>
              </a>
              <a class="a" href="infomath">
                <li class="nav_item">Информатика и математика</li>
              </a>
              <a class="a" href="psychology">
                <li class="nav_item">Психология</li>
              </a>
              <a class="a" href="matheconom">
                <li class="nav_item">Экономика и математика</li>
              </a>
              <a class="a" href="soceconom">
                <li class="nav_item">Экономика и социальные науки</li>
              </a>
              <a class="a" href="yurispr">
                <li class="nav_item3">Юриспруденция</li>
              </a>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </main>
  <footer></footer>
</body>

</html>