<!DOCTYPE html>

<html lang="ru">

<head>
  <link rel="stylesheet" href="static/styles/info3.css" />
  <script src="lib/script.js"></script>
  <title>Дизайн</title>
</head>

<body class="backg">
  <header>
    <div class="top">
      <h2 class="greeting">Информация</h2>
    </div>
    <div class="lycAvatar"></div>
    <a href="/">
      <div class="inf"></div>
    </a>
    <a href="/facultatives/">
      <div class="fac"></div>
    </a>
    <a href="/calendar/">
      <div class="cal"></div>
    </a>
    <a href="/calculator/">
      <div class="clc"></div>
    </a>
  </header>
  <main>
    <div class="main">
      <div class="cont">
        <div class="logot"></div>
        <div class="texlog">
          <div class="logot2"></div>
          <div class="tex">
            <section>
              <h1 class="allign">Дизайн</h1>
              <article>
                <p>
                  Мастихин, разбавитель, масленка – для тебя это не просто набор слов, а предметы первой необходимости.
                </p>
                <p>В 21 веке дизайн окружает нас повсюду, если ты хочешь освоить такие сферы дизайна, как графический
                  дизайн, интерактивный дизайн, дизайн среды, мода, брендинг, реклама, анимация, предметный дизайн,
                  дизайн интерьера, фотография и фэшн-стайлинг, то тебе точно к нам.
                </p>
              </article>
              <article>
                <p>
                  Чаще всего ребят с дизайна видно издалека: яркие волосы, нестандартный фасон в одежде и вечно
                  перепачканные в краске руки (шучу, шучу). Кстати, многие афиши, оформление групп в социальных сетях,
                  праздничное украшение зданий – это творения именно этих ребят.
                </p>
                <p>
                  Ну что, ты готов пополнить наши ряды? Тогда обязательно приходи на наши мероприятия!
                </p>
              </article>
              <article>
                <h3>Немного про учебный план:</h3>
                <p>
                  Углубленный уровень изучения русского, литературы и истории, также в учебном плане направления дизайн
                  присутствует такой предмет как информатика. У нас есть всеми любимый выбор одного из трех
                  естественнонаучных предметов (биология, физика или химия), а также вариативная часть: история и теория
                  культуры и мировая художественная культура.
                </p>
                <p>
                  Факультетский день разбивается на два варианта: первый ориентирован на образовательную программу
                  «Дизайн», а второй ориентирован на образовательную программу «Мода».
                </p>
              </article>
              <article>
                <h3>Несколько советов от десятых:</h3>
                <p>
                  - Уважай себя и преподавателей
                  - Запасись нервами и научись вставать рано утром в субботу
                  - Советую вести конспект книг, которые вы читаете летом
                  - Читайте произведения!!!!!!!! Внимательно!!!! И делайте дз с фд вовремя)))
                  - Советую изучать не только дизайн, но и все смежные отрасли искусства, так как дизайн непрерывно с
                  ними связан.
                  - Готовьтесь к ЕГЭ по литературе)))
                </p>
                <h3>Дизайн - это...</h3>
                <p>
                  <p>... бесконечный творческий хаос на ФД</p>
                  <p>... это вечная подготовка к просмотру</p>
                  <p>... это нестандартность</p>
                  <p>... это 1 мальчик на 25 девочек :)))</p>
                </p>
              </article>
              <article>
                <h4>
                  руководитель направления: Веретенникова Мария Леонидовна
                </h4>
              </article>
            </section>
          </div>
        </div>
        <div class="list">
          <nav class="nav">
            <ul class="nav_list">
              <li class="item1">Выберите направление</li>
              <a class="a" href="vostok">
                <li class="nav_item">Востоковедение</li>
              </a>
              <a class="a" href="gum">
                <li class="nav_item">Гуманитарные науки</li>
              </a>
              <a class="a" href="design">
                <li class="nav_item3">Дизайн</li>
              </a>
              <a class="a" href="natscience">
                <li class="nav_item">Естественные науки</li>
              </a>
              <a class="a" href="math">
                <li class="nav_item"> Математика</li>
              </a>
              <a class="a" href="infomath">
                <li class="nav_item">Информатика и математика</li>
              </a>
              <a class="a" href="psychology">
                <li class="nav_item">Психология</li>
              </a>
              <a class="a" href="matheconom">
                <li class="nav_item">Экономика и математика</li>
              </a>
              <a class="a" href="soceconom">
                <li class="nav_item">Экономика и социальные науки</li>
              </a>
              <a class="a" href="yurispr">
                <li class="nav_item2">Юриспруденция</li>
              </a>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </main>
  <footer></footer>
</body>

</html>