<!DOCTYPE html>

<html lang="ru">

<head>
  <link rel="stylesheet" href="static/styles/info2.css" />
  <script src="lib/script.js"></script>
  <title>Гуманитарные науки</title>
</head>

<body class="backg">
  <header>
    <div class="top">
      <h2 class="greeting">Информация</h2>
    </div>
    <div class="lycAvatar"></div>
    <a href="/">
      <div class="inf"></div>
    </a>
    <a href="/facultatives/">
      <div class="fac"></div>
    </a>
    <a href="/calendar/">
      <div class="cal"></div>
    </a>
    <a href="/calculator/">
      <div class="clc"></div>
    </a>
  </header>
  <main>
    <div class="main">
      <div class="cont">
        <div class="logot"></div>
        <div class="texlog">
          <div class="logot2"></div>
          <div class="tex">
            <section>
              <h1 class="allign">Гуманитарные науки</h1>
              <article>
                <p>
                  Если ты с легкостью отличаешь ямб от хорея, любишь иностранные языки или культурологию, то тебе точно
                  к нам!
                </p>
              </article>
              <article>
                <p>
                  Как бы пафосно это ни звучало, но гордость нашего направления – это самый обширный выбор программы
                  факультетского дня. Из этого огромного списка каждый найдет то, что ему интересно. История, Филология,
                  Философия, Иностранные языки и межкультурная коммуникация, Культурология, Арабско-эфиопская филология
                  – и это лишь малая часть представленных площадок.
                </p>
              </article>
              <article>
                <p>
                  На этом величественность гуманитарного направления не заканчивается. (Да, да, а вы как думали?) От
                  количества абитуриентов, до масштабности мероприятий, все у “гумов” ооочень большое. Например,
                  медианочь – одно из самых ярких событий лицея, в котором ты сможешь поучаствовать в следующем году.
                  В стенах БХ ты услышишь цитаты из Маяковского и Грибоедова, окунешься в дискуссии на философские темы
                  и сам выберешь те предметы, которые хочешь изучать на углубленном уровне. Звучит заманчиво, не правда
                  ли?
                </p>
              </article>
              <article>
                <h3>Немного про учебный план:</h3>
                <p>
                  Ты можешь выбрать профильное изучение истории или русского с литературой (или и того и другого
                  вместе). Еще можно попрощаться с двумя из трех естественнонаучных предметов. Если ты выберешь физику,
                  то будешь изучать ее в 10 и 11 классах, а вот биология и химия идут только в 10м. А еще есть
                  вариативная часть: второй иностранный, обществознание, история культуры, мировая и художественная
                  культура. Либо, либо, либо. Короче говоря, выбор большой. Можно взять и для экзаменов, и для души.
                </p>
              </article>
              <article>
                <h3>Несколько советов от десятых:</h3>
                <p>
                  - Читать, читать и еще раз читать; интересоваться историей и литературой, изучать культуру, языки,
                  пока есть возможность и время!!!
                  - Советую подготовить свои нервы
                  - В Е С Ь список литературы прочитай летом.
                  - Если сдаёшь базу математики в 10, сразу начинай готовиться, и самостоятельно, никто из учителей в
                  этом не заинтересован.
                  - Дз по литературе начинать делай сразу же, как зададут, а не откладывай на последние сутки.
                  - Не забывай про сон
                  - Выбирай направление осознанно, и если это гум, то отдохни хорошо летом и желательно как раз
                  прочитать большие произведения, как ВИМ, ПИН, «Отцы и дети» и «Обломов».
                  - Советую подумать несколько раз перед поступлением на любое из направлений, а так, побольше
                  пообщаться с людьми с этого направления и узнать, что вообще там происходит.
                </p>
              </article>
              <article>
                <h3>ГУМ - это...</h3>
                <p>
                  <p>... это вечные шутки про Базарова.</p>
                  <p>... вечные вопросы «почему?»</p>
                  <p>... это самые разнообразные творческие люди</p>
                  <p>... это литературные шутки которые не понимают другие направления</p>
                  <p>... это когда всех вокруг много и все разные</p>
                  <p>... гуманитарии - это бывшие дизайнеры</p>
                  <p>... это атмосферка!</p>
                  <p>... это любовь</p>
                </p>
              </article>
              <article>
                <h4>руководитель направления: Космидис Елизавета Алексеевна</h4>
              </article>
            </section>
          </div>
        </div>
        <div class="list">
          <nav class="nav">
            <ul class="nav_list">
              <li class="item1">Выберите направление</li>
              <a class="a" href="vostok">
                <li class="nav_item">Востоковедение</li>
              </a>
              <a class="a" href="gum">
                <li class="nav_item">Гуманитарные науки</li>
              </a>
              <a class="a" href="design">
                <li class="nav_item">Дизайн</li>
              </a>
              <a class="a" href="natscience">
                <li class="nav_item">Естественные науки</li>
              </a>
              <a class="a" href="math">
                <li class="nav_item"> Математика</li>
              </a>
              <a class="a" href="infomath">
                <li class="nav_item">Информатика и математика</li>
              </a>
              <a class="a" href="psychology">
                <li class="nav_item">Психология</li>
              </a>
              <a class="a" href="matheconom">
                <li class="nav_item">Экономика и математика</li>
              </a>
              <a class="a" href="soceconom">
                <li class="nav_item">Экономика и социальные науки</li>
              </a>
              <a class="a" href="yurispr">
                <li class="nav_item2">Юриспруденция</li>
              </a>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </main>
  <footer></footer>
</body>

</html>