<!DOCTYPE html>

<html lang="ru">

<head>
  <link rel="stylesheet" href="static/styles/info5.css" />
  <script src="lib/script.js"></script>
  <title>Математика</title>
</head>

<body class="backg">
  <header>
    <div class="top">
      <h2 class="greeting">Информация</h2>
    </div>
    <div class="lycAvatar"></div>
    <div class="inf"></div>
    <div class="fac"></div>
    <div class="cal"></div>
    <div class="clc"></div>
  </header>
  <main>
    <div class="main">
      <div class="cont">
        <div class="logot"></div>
        <div class="texlog">
          <div class="logot2"></div>
          <div class="tex">
            <section>
              <h1 class="allign">Математика</h1>
              <article>
                <p>
                  Нет, нет здесь уже не просто «дважды два – четыре». Учебное направление «Математика» предлагает
                  глубокое изучение алгебры, геометрии, математического анализа, теории чисел и физики.
                </p>
                <p>
                  Вот и все, что мы может сказать об этом направлении. Поэтому ты можешь заполнить пустой лист традиций,
                  мероприятий и праздников.
                </p>
                <p>
                  Обучение профильным предметам в малых группах, олимпиадные факультативы, возможность посещения
                  факультета математики НИУ ВШЭ – все это ждет тебя на нашем направлении, а мы ждем тебя!
                </p>
                <h3>Немного про учебный план:</h3>
                <p>
                  Математика и физика у нас изучается на углубленном уровне. Информатика – на базовом. А еще у нас есть
                  предмет, которого нет ни на одном другом направлении: математический анализ.
                </p>
                <h3>Несколько советов от десятых:</h3>
                <p>
                  - Учите математику
                </p>
                <p>
                  - Очень хорошо учите математику
                </p>
                <h3>Математика - это...</h3>
                <p>
                  ...это бесконечная математика
                </p>
                <h4>руководитель направления: Чистяков Денис Сергеевич</h4>
              </article>
            </section>
          </div>
        </div>
        <div class="list">
          <nav class="nav">
            <ul class="nav_list">
              <li class="item1"><a class="a" href="#">Выберите направление</a></li>
              <li class="nav_item"><a class="a" href="vostok">Востоковедение</a></li>
              <li class="nav_item"><a class="a" href="gum">Гуманитарные науки</a></li>
              <li class="nav_item"><a class="a" href="design">Дизайн</a></li>
              <li class="nav_item"><a class="a" href="natscience">Естественные науки</a></li>
              <li class="nav_item3"><a class="a" href="math">Математика</a></li>
              <li class="nav_item"><a class="a" href="infomath">Информатика и математика</a></li>
              <li class="nav_item"><a class="a" href="psychology">Психология</a></li>
              <li class="nav_item"><a class="a" href="matheconom">Экономика и математика</a></li>
              <li class="nav_item"><a class="a" href="soceconom">Экономика и социальные науки</a></li>
              <li class="nav_item2"><a class="a" href="yurispr">Юриспруденция<a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </main>
  <footer></footer>
</body>

</html>