<!DOCTYPE html>

<html lang="ru">

<head>
  <link rel="stylesheet" href="static/styles/info9.css" />
  <script src="lib/script.js"></script>
  <title>Экономика и социальные науки</title>
</head>

<body class="backg">
  <header>
    <div class="top">
      <h2 class="greeting">Информация</h2>
    </div>
    <div class="lycAvatar"></div>
    <div class="inf"></div>
    <div class="fac"></div>
    <div class="cal"></div>
    <div class="clc"></div>
  </header>
  <main>
    <div class="main">
      <div class="cont">
        <div class="logot"></div>
        <div class="texlog">
          <div class="logot2"></div>
          <div class="tex">
            <section>
              <h1 class="allign">Экономика и социальные науки</h1>
              <article>
                <p>Если ты открыл эту вкладку, то тебя интересует не только экономика, но и менеджмент, социология,
                  маркетинг, дипломатия и многое другое из сферы социальных наук.
                </p>
                <p>Уникальность нашего направления заключается в том, что наряду с углубленным изучением модульного
                  обществознания, лицеист может погрузиться в одну из составляющих данного предмета: экономику,
                  политологию или социологию.
                </p>
                <p>И “соц” и “эк”, как иногда говорят лицеисты, на этом направлении ты сможешь выбрать многоплановый
                  учебный план и взять частичку от социальных наук, а частичку от технических. Думаю, ты уже знаешь, что
                  взять, поэтому до встречи в новом году!
                </p>
                <h3>Несколько советов от десятых:</h3>
                <p>● Советую прочитать труды Адама Смита, Франсуа Кенэ, Петти и Кантильона</p>
                <p>● Изучите произведения социологов-теоретиков: Огюста Конта, Эмиля Дюркгейма, Макса Вебера, Карла
                  Маркса и Пьера Бурдьё</p>
                <p>● Прочитайте про Николо Макиавелли (его концепции тщательно изучаются в политологии ), Жан Жака
                  Руссо,
                  Гоббса.</p>
                <p>● Хорошенько отдохните и запаситесь силами</p>
                <p>● Советую почитать учебник Сорвина🤓</p>
                <p>● СРОЧНО БОТАЙТЕ!!!! Посмотрите материалы для подготовки к высшей пробе по политологии/социологии и
                  экономики и БОТАЙТЕ.</p>
                <p>● Будущему соцэку посоветую не читать самоубийство Дюркгейма полностью, а только те части, которые
                  сказал учитель. И вообще слушать, что говорят учителя, даже если тебе кажется, что это тебя не
                  касается.</p>
                <p>● Научись четко аргументировать свою позицию и не стесняться</p>
                <h3>Соцэк - это...</h3>
                <p>... ботать и тащить олимпиады</p>
                <p>... Икона и Хаиткулов😍🤩🥳</p>
                <p>... МаРкс Вебер</p>
                <p>... универсальность</p>
                <p>... любовь к Сорвину К.В.</p>
                <p>... милые и дружелюбные ребята</p>
                <p>... семья</p>
                <p>... много общаги</p>
                <p>... вечные споры о феминизме</p>
                <p>... вечная конкуренция за возможность вставить слово</p>
                <h4>руководитель направления: Оганесян Марина Рафаэловна</h4>
              </article>
            </section>
          </div>
        </div>
        <div class="list">
          <nav class="nav">
            <ul class="nav_list">
              <li class="item1"><a class="a" href="#">Выберите направление</a></li>
              <li class="nav_item"><a class="a" href="vostok">Востоковедение</a></li>
              <li class="nav_item"><a class="a" href="gum">Гуманитарные науки</a></li>
              <li class="nav_item"><a class="a" href="design">Дизайн</a></li>
              <li class="nav_item"><a class="a" href="natscience">Естественные науки</a></li>
              <li class="nav_item"><a class="a" href="math">Математика</a></li>
              <li class="nav_item"><a class="a" href="infomath">Информатика и математика</a></li>
              <li class="nav_item"><a class="a" href="psychology">Психология</a></li>
              <li class="nav_item"><a class="a" href="matheconom">Экономика и математика</a></li>
              <li class="nav_item3"><a class="a" href="soceconom">Экономика и социальные науки</a></li>
              <li class="nav_item2"><a class="a" href="yurispr">Юриспруденция<a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </main>
  <footer></footer>
</body>

</html>