<!DOCTYPE html>

<html lang="ru">

<head>
    <link rel="stylesheet" href="/static/styles/calc1.css">
    <title>Калькулятор</title>
</head>

<body class="backg">
    <header>
        <div class="top">
            <h2 class="greeting">Калькулятор</h2>
        </div>
        <div class="lycAvatar"></div>
        <a href="/">
            <div class="inf"></div>
        </a>
        <a href="/facultatives/">
            <div class="fac"></div>
        </a>
        <a href="/calendar/">
            <div class="cal"></div>
        </a>
        <a href="/calculator/">
            <div class="clc"></div>
        </a>
    </header>
    <main>
        <div class="main">
            <div class="choice">
                <select>
                    <option value="0">Выберите направление</option>
                    <option value="1">Востоковедение</option>
                    <option value="2">Гуманитарные науки</option>
                    <option value="3">Дизайн</option>
                    <option value="4">Естественные науки</option>
                    <option value="5">Математика</option>
                    <option value="6">Информатика, инженерия и математика</option>
                    <option value="7">Психология</option>
                    <option value="8">Экономика и математика</option>
                    <option value="9">Экономика и социальные науки</option>
                    <option value="10">Юриспруденция</option>
                </select>
            </div>


            <div class="grandpa">
                <div class="row1">
                    <div class="col12">Алгебра</div>
                    <div class="col1">Геометрия</div>
                    <div class="col1">Физика</div>
                    <div class="col1">Информатика</div>
                </div>
                <div class="row2">
                    <div class="col22">
                        <p>1 семестр</p>
                    </div>
                    <div class="col2"><input class="bbb"></input></div>
                    <div class="col23"><input class="bbb"></input></div>
                    <div class="col23"><input class="bbb"></input></div>
                    <div class="col23"><input class="bbb"></input></div>
                </div>
                <div class="row3">
                    <div class="col32">
                        <p>2 семестр</p>
                    </div>
                    <div class="col2"><input class="bbb"></input></div>
                    <div class="col23"><input class="bbb"></input></div>
                    <div class="col23"><input class="bbb"></input></div>
                    <div class="col23"><input class="bbb"></input></div>
                </div>
                <div class="parent2"></div>
                <div class="parent3">
                    <div></div>
                    <div></div>
                </div>
                <div class="parent4"></div>
                <div class="parent5"><input class="aaa"></input>
                </div>
            </div>
        </div>
    </main>
    <footer></footer>
</body>

</html>