<!DOCTYPE html>

<html lang="ru">

<head>
    <link rel="stylesheet" href="/static/styles/calc1.css">
    <title>Калькулятор</title>
    <script src="/static/js/calc6.js" defer></script>
</head>

<body class="backg">
    <header>
        <div class="top">
            <h2 class="greeting">Математика</h2>
        </div>
        <div class="lycAvatar"></div>
        <a href="/">
            <div class="inf" title="Информация о направлениях"></div>
        </a>
        <a href="/facultatives/">
            <div class="fac" title="Список факультативов"></div>
        </a>
        <a href="/calendar/">
            <div class="cal" title="Календарь событий"></div>
        </a>
        <a href="/calculator/">
            <div class="clc" title="Калькулятор среднего балла"></div>
        </a>
    </header>
    <main>
        <div class="main">
            <div class="choice">
                <select onchange="window.location.href=this.options[this.selectedIndex].value">
                    <option value="vostok">Выберите направление</option>
                    <option value="vostok">Востоковедение</option>
                    <option value="gum">Гуманитарные науки</option>
                    <option value="design">Дизайн</option>
                    <option value="natscience">Естественные науки</option>
                    <option value="math">Математика</option>
                    <option value="infomath">Информатика, инженерия и математика</option>
                    <option value="psychology">Психология</option>
                    <option value="matheconom">Экономика и математика</option>
                    <option value="soceconom">Экономика и социальные науки</option>
                    <option value="yurispr">Юриспруденция</option>
                </select>
            </div>


            <div class="grandpa">
                <div class="row1">
                    <div class="col12">Алгебра</div>
                    <div class="col1">Геометрия</div>
                    <div class="col1">Физика</div>
                    <div class="col1">-</div>
                </div>
                <div class="row2">
                    <div class="col22">
                        <p>1 семестр</p>
                    </div>
                    <div class="col2"><input class="bbb" type="text" id="n1"></input></div>
                    <div class="col23"><input class="bbb" type="text" id="n2"></input></div>
                    <div class="col23"><input class="bbb" type="text" id="n3"></input></div>
                    <div class="col23"><div class="bbb"></div></div>
                </div>
                <div class="row3">
                    <div class="col32">
                        <p>2 семестр</p>
                    </div>
                    <div class="col2"><input class="bbb" type="text" id="n4"></input></div>
                    <div class="col23"><input class="bbb" type="text" id="n5"></input></div>
                    <div class="col23"><input class="bbb" type="text" id="n6"></input></div>
                    <div class="col23"><div class="bbb"></div></div>
                </div>
                <div class="parent2"></div>
                <div class="parent3" onclick="count()">
                    <div></div>
                    <div></div>
                </div>
                <div class="parent4"></div>
                <div class="parent5">
                    <div id="out" class="aaa"></div>
                </div>
            </div>
        </div>
    </main>
    <footer></footer>
</body>

</html>