body {
    font-family: 'roboto', sans-serif;
}

html, body {
    height: 100%;
}

.top {
    width: 84%;
    height: 80px;
    left: 8%;
    background-color: rgb(0, 0, 0);
    position: fixed;
    top: 0;
    margin: 0;
}

.backg {
    background-color: #E5E5E5;
    height: 100%;
}

.lycAvatar {
    width: 50px;
    height: 50px;
    position: fixed;
    background: #000000 no-repeat;
    background-image: url('/static/images/hse_lyc.png');
    background-size: 50px 50px;
    left: 9%;
    top: 15px;
}

.inf {
    position: fixed;
    top: 15px;
    right: 25%;
    width: 50px;
    height: 50px;
    display: inline-block;
    background: #000000 no-repeat;
    background-image: url('/static/images/info.png');
    background-size: 50px 50px;
}

.main {
    position: fixed;
    top: 80px;
    width: 84%;
    margin: auto;
    background-color: white;
    left: 8%;
    bottom: 0;
}

.fac {
    position: fixed;
    top: 15px;
    right: 20%;
    width: 50px;
    height: 50px;
    display: inline-block;
    background-color: red;
    background: #000000 no-repeat;
    background-image: url('/static/images/facultatives.png');
    background-size: 50px 50px;
}

.cal {
    position: fixed;
    top: 15px;
    right: 15%;
    width: 50px;
    height: 50px;
    display: inline-block;
    background-color: red;
    background: #000000 no-repeat;
    background-image: url('/static/images/calendar.png');
    background-size: 50px 50px;
}

li {
    list-style-type: none;
}

.clc {
    position: fixed;
    top: 15px;
    right: 10%;
    width: 50px;
    height: 50px;
    display: inline-block;
    background-color: red;
    background: #000000 no-repeat;
    background-image: url('/static/images/calculator.png');
    background-size: 50px 50px;
}

.greeting {
    height: 80px;
    color: white;
    text-align: center;
    margin-top: 23px;
}

a {
    color: black;
}

#calendar2 {
    width: 100%;
    font: monospace;
    line-height: 1.5em;
    font-size: 1.5vw;
    text-align: center;
    margin-left: 20%;
    margin-top: 70px;
    background-color: #bc2f2f;
}

#calendar2 thead tr:last-child {
    font-size: small;
    color: rgb(214, 206, 206);
}

#calendar2 thead tr:nth-child(1) td:nth-child(2) {
    color: rgb(255, 255, 255);
}

#calendar2 thead tr:nth-child(1) td:nth-child(1):hover, #calendar2 thead tr:nth-child(1) td:nth-child(3):hover {
    cursor: pointer;
}

#calendar2 tbody td {
    color: rgb(255, 255, 255);
}

#calendar2 tbody td:nth-child(n+6), #calendar2 .holiday {
    color: rgb(255, 255, 255);
}

#calendar2 tbody td.today {
    background: rgb(220, 0, 0);
    color: #fff;
}

.eventlist {
    display: inline-block;
    font-size: 1.5vw;
    border-collapse: collapse;
    text-align: center;
    width: 50%;
    margin: 0 auto;
    margin-top: 70px;
    vertical-align: top;
}

.bodyt {
    border-color: black;
}

.thl {
    background: #F96A6A;
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    border: solid #F96A6A 3px;
    border-bottom: black;
    border-right: 0;
}

.thl2 {
    background: #F96A6A;
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    border: solid rgb(0, 0, 0) 3px;
    border-top: solid #F96A6A 3px;
}

.th3 {
    background: #F96A6A;
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    border: solid #F96A6A 3px;
    border-bottom: black;
}

.thl3 {
    background: #F96A6A;
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    border: solid #F96A6A 3px;
    border-bottom: black;
}

.th1, .td1 {
    border-style: solid;
    border-color: rgb(0, 0, 0);
    background: rgb(255, 255, 255);
}

.calend {
    width: 40%;
    display: inline-block;
    vertical-align: top;
}

body {
    margin: 0;
}

.top {
    z-index: 3;
}

.clc, .inf, .cal, .fac, .lycAvatar {
    z-index: 5;
}

.main {
    position: static;
    min-height: calc(100vh - 80px);
    padding-top: 80px;
}

@media only screen and (min-width: 1824px) {
    .main {
        position: fixed;
        top: 80px;
        width: 55%;
        margin: auto;
        background-color: white;
        left: 22.5%;
        bottom: 0;
    }
    .top {
        width: 54.6%;
        height: 80px;
        left: 22.7%;
    }
    .lycAvatar {
        left: 24%;
    }
    .inf {
        right: 33%;
    }
    .fac {
        right: 30%;
    }
    .clc {
        right: 27%;
    }
    .cal {
        right: 24%;
    }
}